/* This is a single-line comment */
 
/* This is
a multi-line
comment */

/*
CSS is the language we use to style an HTML document.

CSS describes how HTML elements should be displayed.
*/

/* CSS stands for Cascading Style Sheets
 CSS describes how HTML elements are to be displayed on screen, paper, or in other media 
 External stylesheets are stored in CSS files
*/

/* 
There are three ways of inserting a style sheet:

External CSS
Internal CSS
Inline CSS

*/

/* 
External CSS
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="mystyle.css">
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html>

*/

/*  

Internal CSS


<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 40px;
}
</style>
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html>

*/

/*  
Inline CSS

<!DOCTYPE html>
<html>
<body>

<h1 style="color:blue;text-align:center;">This is a heading</h1>
<p style="color:red;">This is a paragraph.</p>

</body>
</html>

*/

/* 
Internal CSS is first Priority where as inline css is first priority

<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
<style>
h1 {
  color: orange;
}
</style>
</head>
*/

/* 
A CSS selector selects the HTML element(s) you want to style.

The element selector selects HTML elements based on the element name.

p {
  text-align: center;
  color: red;
}

The id selector uses the id attribute of an HTML element to select a specific element.

*/

#para1 {
  text-align: center;
  color: red;
}


/*  The class selector selects HTML elements with a specific class attribute. */

.center {
  text-align: center;
  color: red;
}

/* You can also specify that only specific HTML elements should be affected by a class.  */
p.center {
  text-align: left;
  color: green;
}


/* Define different HEX colors: */
#p1 {background-color: #ff0000;}   /* red */

/* Define different HEX colors with transparency: */
#p1a {background-color: #ff000080;}   /* red transparency */

/* RGB Colors  */
#p5 {background-color:rgb(255,255,0);}


#p3 {background-color: rgba(0, 0, 255, 0.3);}   /* blue with opacity */

/*  HSL stands for hue, saturation, and lightness  */
#p22 {background-color: hsl(120, 100%, 75%);}   /* light green */

#myDIV {
  color: blue; /* Blue text color */
  border: 10px solid currentcolor; /* Blue border color */
}


/* 
The background property is a shorthand property for:

background-color
background-image
background-position
background-size
background-repeat
background-origin
background-clip
background-attachment


CSS accent-color

*/
.myform input {
  accent-color: pink;
}


/* background: lightblue url("img_tree.gif") no-repeat fixed center;   */

#myDIV1 {
  height:300px;
  padding:20px;
  background-color:#FFFFFF;
  border: 1px solid black;
  border-top-right-radius:50px;
  border-top-left-radius:100px;
  text-align:center;
}


/* To shorten the code, it is also possible to specify all the individual border properties in one property. */
p.bordercls{
  border-bottom: 6px solid red;
  background-color: lightgrey;
  border-radius: 5px;
}


/*  The CSS margin properties are used to create space around elements, outside of any defined borders. */
p.margincls
{
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightblue;
}
/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */
